@charset "UTF-8";

html, body, header, nav, main, footer, div, section, article, aside {
    margin:0;
    padding:0;
}
    
html {
    font-size: 16px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
    background-color: #eeeadd;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif
}

nav ul {
    margin: 1rem;
    padding: 0;
    text-align: right;
    list-style: none;
}

nav li {
    display: inline;
}

nav a:link, nav a:visited {
    text-decoration:none;
    padding: 0.5rem;
    background-color: #238380;
    color: #ebe6dc;
}

nav a:hover, nav a:active {
    background-color: lightseagreen;
    color: #dfb666;
}

nav a.thisPage {
    background-color:#044643; 
    color: #ebe6dc;
}

h1,h2,h3 {
    color: #050000;
}

h1 {
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    background-image: url(../img/tile1.png)
}
h2 {
    font-size: 1.5rem;
}
ol a {
    color: rgb(13, 17, 243) !important;
}
a:link, a:visited {
    color: #000000;
    
}

a:hover, a:active {
    font-style: italic;

}

img {
    max-width: 100%;
    border-radius: 20px;
}
.litenBild{
    width: 300px;
}
#typTagg2{
    margin-left: 40px;
    width: 250px;
}
.floatRight {
    float: right;
    width: 300px;
    max-width:50%;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer {
    clear: both;
    margin-top: 10px;
    border-top:1px solid #666666;
    font-style: italic;
    padding: 10px;
}